// Variable overrides
$themePrimary: #287e96;
$themeDark: #174856;
$themeDarkActive: #98aeb4;
$themeDarkDarken: darken($themeDark, 2%);
$themeDarkActiveDarken: darken($themeDarkActive, 10%);
$linksColor: $themePrimary;
$searchBoxFontColor: #6272a7;
$searchBoxBackground: #e2e5ef;
$searchBoxBorderColor: rgba(39, 50, 87, 0.31);
$actionColor: #db431e;
$actionColorInactive: #e47b61;
$dashboardBackground: #f9f9f9;
$textPrimaryColor: #191933;
$textPrimaryColorInactive: #aeaeb7;
$textTreeColor: $searchBoxFontColor;
$actionColor: #db431e;
$activeActionColor: darken($actionColor, 10%);
$google: #db5a3c;
$github: black;
$googleActive: darken($google, 10%);
$githubActive: darken($github, 3%);
$boxBorder: #ebebec;
$alternatingRow: #f0f1f6;
$statColor: #273257;
$certifiedColor: #39b3d6;
$landingPage: #273257;
$landingHeaderLinkActive: darken(white, 15%);
$cloudBase: #d1f1fb;
$darkLink: black;
$darkenLinkActive: lighten(black, 25%);
$shadowColor: #e8e8e8;
$switchInactive: #7d7d8c;
$switchActive: $textPrimaryColor;
$tabBorderColor: #c8ced3;
$treeHighlightColor: #deeaef;
