$themes: (
    light: (
        paneLightestBackground: white,
        paneLighterBackground: #eff5f7,
        paneLightBackground: #dfecef,
        barActiveBackground: #287e96,
        lightBarActiveBackground: lighten(#287e96, 7%),
        darkBarActiveBackground: darken(#287e96, 10%),
        barInActiveBackground: #82b4c2,
        barShadow: #68c5e0,
        onlineStatus: #42db81,
        offlineStatus: #dc1313,
        pendingStatus: yellow,
        darkTextColor: #191933,
        lightTextColor: white,
        menuItemBackgroundColor: white,
        menuItemActiveBackgroundColor: darken(white, 2%),
        statusOnline: #42db81,
        statusPending: yellow,
        statusOffline: red,
        scrollableInkActive: rgb(45, 183, 245),
        scrollableInkInactive: #c0e1ea,
        tabShadow: fade-out(darken(#287e96, 50%), 0.5),
        action: rgb(45, 183, 245),
        toastSuccess: #68c934,
        toastInfo: #45abcd,
        toastWarning: #ff9800,
        toastError: #9e170e,
        disabledMenuColor: #94bfcb,
        treeSelectHighlight: #287e962b,
    ),
);
